.sidebar {
	position: absolute;
	border: 2px solid #000;
	border-left: none;
	float: left;
	height: 80vh;
	width: 20%;
}

.main {
	position: absolute;
	border: 2px solid #000;
	border-left: none;
	height: 80vh;
	width: 80%;
	left: 20%;
}

.selectdish {
	position: relative;
	left: 3%;
}

.form-inline {
	position: relative;
	left: 5%;
}

#line2 {
	border: 1px solid #000;
	position: absolute;
	top: 20%;
	width: 100%;
}

#rowimg {
	top: 50%;
	position: absolute;
	border: 2px solid #000;
	width: 100%;
}