.container {
    border-color: red;
    border-style: solid;
    border-width: 2px;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

.row {
    border-color: red;
    border-style: solid;
    border-width: 2px;
}
ul#menu li {
    display: inline;
}