body { 
  background: url('././images/dinner.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.topnav{ 
font-size: 350%;
}
.navbar {
 background:rgba(255,165,0,1);
 height:15vh;
 border-bottom: 3px solid;
}

.container-mid {
position: absolute;
background:rgba(250,250,250,0.7);
border-radius: 0px;
margin-right: auto;
margin-left: 5%;
margin-top: 10%;
width: 35%;
height: 35vh;
}
.bottom {
position: absolute;
bottom: 5%;
margin-left: 5%;
}

.startquickly{
position: absolute;
bottom: 15%;
margin-left: 5%;
}

.floattext{
margin-left: 5%;
margin-right: 5%;
}

.floattitle{
margin-left: 5%;
margin-right: 5%;
}

.statusbar{
position: absolute;
background:rgba(250,250,250,1);
top:15vh;
width:100%;
height: 8vh;
border-bottom: 3px solid;
}

.btn-secondary{
	position:absolute;
	top:2vh;
	background:rgba(255,165,0,1);
}
.menuview{
	position: absolute;
	top:16vh;
	height: 80vh;
	width:100%;
}
.menuviewitem{
	position:relative;
	text-align: right; 
	top:27vh; 
	color: #A91C1C;
}
.totalcost{
	position:relative;
	top:44vh; 
	color: #A91C1C; 
}
.totallabel{
	position:relative;
	top:44vh; 
}
.menuviewpic{
	position:relative;
	top:25vh;
	float:right;
}
.printbtncon{
	position:absolute;
	bottom:25vh;
	left:45%;

}
